<!DOCTYPE html>
<html lang="en">

<head>
  <title>
    <%= title %>
  </title>
  <%- include('./partials/general.ejs') %>

    <!-- Primary Meta Tags -->
    <meta name="title" content="HOME — Build once. Deploy anywhere.">
    <meta name="description"
      content="Flexibly and securely move your data and applications to any cloud without the fear of lock-in.">

</head>

<body data-barba="wrapper">

  <div class="load-container">
    <div class="loading-screen"></div>
  </div>

  <%- include('./partials/header.ejs') %>
    <main data-barba="container" data-barba-namespace="home-section">
      <section class=" bodyContainer main-p1 center centerVer completeBanner">
        <div class="contentContainer">

          <!-- <p class="roundText transUP">Consulting Group</p>  -->

          <h1 class="titleBanner transUP">
            Build once.<br>
            Deploy anywhere.
          </h1>
          <p class="transUP adjustText">Flexibly and securely move your data and applications to any cloud without
            the fear
            of lock-in.</p>
          <div class="spacer20"></div>
          <a class="btn-1 transUP" href="/solutions">Explore solutions</a>

        </div>
      </section>

    </main>
</body>
<%- include('./partials/barbaLib.ejs') %>
  <%- include('./partials/headerScript.ejs') %>

</html>