<!DOCTYPE html>
<html lang="en">

<head>
  <title>
    <%= title %>
  </title>
  <%- include('./partials/general.ejs') %>

    <!-- Primary Meta Tags -->
    <meta name="title" content="HOME — Build once. Deploy anywhere.">
    <meta name="description"
      content="Flexibly and securely move your data and applications to any cloud without the fear of lock-in.">

</head>

<body data-barba="wrapper">

  <div class="load-container">
    <div class="loading-screen"></div>
  </div>

  <%- include('./partials/header.ejs') %>
    <main data-barba="container" data-barba-namespace="home-section">

      <img src="/images/Background-1.webp" alt="" class="mainP3-image" loading="lazy">

      <img src="/images/3D/OCW-final-2-02.webp" alt="" class="mainP1-image transUP" loading="lazy">

      <div id="ex1" class="container transUP">
        <div class="box ex1-layer">
          <img src="/images/3D/OCW-final-2-07.webp" style="max-width: 250px;" alt="" class="upDown" loading="lazy">
        </div>
      </div>

      <div id="ex1" class="container transUP">
        <div class="box ex1-layer posCard2">
          <img src="/images/3D/OCW-final-2-06.webp" style="max-width: 120px;" alt="" class="upDown2" loading="lazy">
        </div>
      </div>

      <img src="/images/3D/OCW-final-2-03.webp" style="max-width: 180px;" alt="" class="transUP pos3" loading="lazy">


      <div class="container transUP">
        <div class="box posCard3">
          <img src="/images/3D/OCW-final-2-04.webp" style="max-width: 350px;" alt="" class="upDown3" loading="lazy">
        </div>
      </div>


      <div id="ex1" class="container transUP">
        <div class="box ex1-layer pos4">
          <img src="/images/3D/OCW-final-2-05.webp" style="max-width: 180px;" alt="" class="upDown2" loading="lazy">
        </div>
      </div>

      <img src="/images/3D/OCW-final-2-08.webp" style="max-width: 290px;" alt="" class="transUP pos5 upDown5" loading="lazy">


      <section class=" bodyContainer center centerVer completeBanner" id="Home">
        <div class="contentContainer">
          <!-- <p class="roundText transUP">Consulting Group</p>  -->
          <h1 class="titleBanner transUP">
            Build once.<br>
            Deploy anywhere.
          </h1>
          <p class="transUP adjustText headerDecription">Flexibly and securely move your data and applications to any
            cloud without
            the fear
            of lock-in.</p>
          <div class="spacer20"></div>
          <div style="display: flex; flex-direction: row; gap: 20px;">
            <span>
              <a class="btn-1 transUP" href="#">Start Free Tier</a>
            </span>
            <span>
              <a class="btn-3 transUP" href="#">Learn more about our services</a>
            </span>
          </div>
        </div>
      </section>

      <img src="/images/Shadow-1.webp" alt="" class="mainP2-image" loading="lazy">

      <section class=" bodyContainer center centerVer" id="Services">
        <div class="spacer30"></div>
        <div class="cardsGrid">
          <div>
            <p class="cardsTitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
          </div>

          <div>
            <div class="card-1Cont">
              <p class="card-1Title">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              <p class="card-1Desc">Praesent sed diam interdum, posuere quam sed, faucibus justo. Aliquam nec orci
                ullamcorper, feugiat
                tellus et, accumsan neque. </p>
              <a class="btn-4" href="#">Tertiary CTA</a>
            </div>
          </div>

          <div>
            <div class="card-1Cont">
              <p class="card-1Title">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              <p class="card-1Desc">Praesent sed diam interdum, posuere quam sed, faucibus justo. Aliquam nec orci
                ullamcorper, feugiat
                tellus et, accumsan neque. Aliquam sapien mauris, ornare ut tortor et, eleifend molestie ante.
                Vestibulum purus urna, sodales in laoreet nec, vehicula quis nisl. </p>
              <a class="btn-4" href="#">Tertiary CTA</a>
            </div>

          </div>

          <div>
            <div class="card-1Cont">
              <p class="card-1Title">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              <p class="card-1Desc">Praesent sed diam interdum, posuere quam sed, faucibus justo. Aliquam nec orci
                ullamcorper, feugiat </p>
              <a class="btn-4" href="#">Tertiary CTA</a>
            </div>

          </div>

        </div>

        <div class="cardsGrid">
          <div>

          </div>

          <div>
            <div class="card-1Cont">
              <p class="card-1Title">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              <p class="card-1Desc">Praesent sed diam interdum, posuere quam sed, faucibus justo. Aliquam nec orci
                ullamcorper, feugiat
                tellus et, accumsan neque. Aliquam sapien mauris, ornare ut tortor et, eleifend molestie ante.
                Vestibulum purus urna, sodales in laoreet nec, vehicula quis nisl. </p>
              <a class="btn-4" href="#">Tertiary CTA</a>
            </div>
          </div>

          <div>
            <div class="card-1Cont">
              <p class="card-1Title">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              <p class="card-1Desc">Praesent sed diam interdum, posuere quam sed, faucibus justo. Aliquam nec orci
                ullamcorper, feugiat
                tellus et, accumsan neque. </p>
              <a class="btn-4" href="#">Tertiary CTA</a>
            </div>
          </div>

          <div>
            <div class="card-1Cont">
              <p class="card-1Title">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              <p class="card-1Desc">Praesent sed diam interdum, posuere quam sed, faucibus justo. Aliquam nec orci
                ullamcorper, feugiat </p>
              <a class="btn-4" href="#">Tertiary CTA</a>
            </div>

          </div>

        </div>

      </section>

      <section class=" bodyContainer center centerVer" id="Industries">
        <div class="spacer80"></div>
        <div class="cardsGrid2">
          <div>
            <img src="/images/Industries.webp" alt="" width="auto" style="max-width: 700px;" loading="lazy">
          </div>

          <div>
            <div>
              <p class="cardsTitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
              <p class="card-1Desc">Praesent sed diam interdum, posuere quam sed, faucibus justo. Aliquam nec orci
                ullamcorper, feugiat. Praesent sed diam interdum, posuere quam sed, faucibus justo. Aliquam nec orci
                ullamcorper, feugiat. </p>

              <p class="card-1Desc">Praesent sed diam interdum, posuere quam sed, faucibus justo. Aliquam nec orci
                ullamcorper, feugiat </p>
              <div class="spacer20"></div>

              <div style="display: flex; flex-direction: row; gap: 20px;">
                <span>
                  <a class="btn-1" href="#">Secondary CTA</a>
                </span>
                <span>
                  <a class="btn-4" href="#">Tertiary CTA</a>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="spacer80"></div>
      </section>

      <div class="spacer30"></div>

      <section class=" bodyContainer center centerVer backPurple" id="Insights">
        <div class="spacer30"></div>
        <div class="cardsGrid3">
          <span>
            <p class="cardsTitle">Lorem ipsum dolor sit amet, consectetur</p>
            <div class="spacer20"></div>
            <p class="card-1Desc" style="margin: 0px;">Praesent sed diam interdum, posuere quam sed, faucibus justo.
              Aliquam nec orci
              ullamcorper, feugiat </p>
          </span>

          <span>
            <div style="display: flex; flex-direction: row; gap: 20px;">
              <span>
                <a class="btn-5" href="#">Secondary CTA</a>
              </span>
              <span>
                <a class="btn-6" href="#">Tertiary CTA</a>
              </span>
            </div>
          </span>
        </div>
        <div class="spacer30"></div>
      </section>

      <section class=" bodyContainer center centerVer" id="Careers"
        style="background: rgb(3,19,61); background: linear-gradient(180deg, rgba(3,19,61,1) 0%, rgba(0,0,0,1) 100%);">
        <div class="spacer80"></div>
        <div class="cardsGrid4">
          <div>
            <p class="card-1Title">Resources</p>

            <ul class="footerList">
              <li class="footerListItem-1"><a href="#" class="footerListLink-1">Lorem ipsum dolor</a></li>
              <li class="footerListItem-1"><a href="#" class="footerListLink-1">Lorem ipsum dolor</a></li>
              <li class="footerListItem-1"><a href="#" class="footerListLink-1">Lorem ipsum dolor</a></li>
              <li class="footerListItem-1"><a href="#" class="footerListLink-1">Lorem ipsum dolor</a></li>
              <li class="footerListItem-1"><a href="#" class="footerListLink-1">Lorem ipsum dolor</a></li>
            </ul>

          </div>
          <div>
            <p class="card-1Title">Learn</p>
            <ul class="footerList">
              <li class="footerListItem-1"><a href="#" class="footerListLink-1">Lorem ipsum dolor</a></li>
              <li class="footerListItem-1"><a href="#" class="footerListLink-1">Lorem ipsum dolor</a></li>
              <li class="footerListItem-1"><a href="#" class="footerListLink-1">Lorem ipsum dolor</a></li>
              <li class="footerListItem-1"><a href="#" class="footerListLink-1">Lorem ipsum dolor</a></li>
              <li class="footerListItem-1"><a href="#" class="footerListLink-1">Lorem ipsum dolor</a></li>
            </ul>
          </div>
          <div>
            <p class="card-1Title">What's new</p>
            <ul class="footerList">
              <li class="footerListItem-1"><a href="#" class="footerListLink-1">Lorem ipsum dolor</a></li>
              <li class="footerListItem-1"><a href="#" class="footerListLink-1">Lorem ipsum dolor</a></li>
              <li class="footerListItem-1"><a href="#" class="footerListLink-1">Lorem ipsum dolor</a></li>
              <li class="footerListItem-1"><a href="#" class="footerListLink-1">Lorem ipsum dolor</a></li>
              <li class="footerListItem-1"><a href="#" class="footerListLink-1">Lorem ipsum dolor</a></li>
            </ul>
          </div>
          <div>
            <p class="card-1Title">Resources</p>
            <ul class="footerList">
              <li class="footerListItem-1"><a href="#" class="footerListLink-1">Lorem ipsum dolor</a></li>
              <li class="footerListItem-1"><a href="#" class="footerListLink-1">Lorem ipsum dolor</a></li>
              <li class="footerListItem-1"><a href="#" class="footerListLink-1">Lorem ipsum dolor</a></li>
              <li class="footerListItem-1"><a href="#" class="footerListLink-1">Lorem ipsum dolor</a></li>
              <li class="footerListItem-1"><a href="#" class="footerListLink-1">Lorem ipsum dolor</a></li>
            </ul>
          </div>
          <div>
            <p class="card-1Title">Contact Us</p>
            <ul class="footerList">
              <li class="footerListItem-1"><a href="#" class="footerListLink-1">Lorem ipsum dolor</a></li>
              <li class="footerListItem-1"><a href="#" class="footerListLink-1">Lorem ipsum dolor</a></li>
              <li class="footerListItem-1"><a href="#" class="footerListLink-1">Lorem ipsum dolor</a></li>
              <li class="footerListItem-1"><a href="#" class="footerListLink-1">Lorem ipsum dolor</a></li>
              <li class="footerListItem-1"><a href="#" class="footerListLink-1">Lorem ipsum dolor</a></li>
            </ul>
          </div>

        </div>
        <div class="spacer80"></div>
      </section>

    </main>
</body>
<%- include('./partials/barbaLib.ejs') %>
  <%- include('./partials/headerScript.ejs') %>

</html>