<!DOCTYPE html>
<html lang="en">

<head>
  <title>
    <%= title %>
  </title>
  <%- include('./partials/general.ejs') %>
</head>

<body data-barba="wrapper">

  <div class="load-container">
    <div class="loading-screen"></div>
  </div>

  <%- include('./partials/header.ejs') %>
    <main data-barba="container" data-barba-namespace="home-section">
      <section class=" bodyContainer main-p1 center centerVer completeBanner">
        <div class="contentContainer">
          <!-- <p class="roundText transUP">Consulting Group</p>  -->



          <!--
          <div  class="box transUP ex1-layer">
            <img src="/images/3D-Test/OCW-test1-07.png" style="max-width: 250px;" alt="" class="upDown">
          </div>

          <div  class="box2 transUP ex1-layer">
            <img src="/images/3D-Test/OCW-test1-07.png" style="max-width: 250px;" alt="" class="upDown2">
          </div>
          -->
          <div id="ex1" class="container">
            <div class="box ex1-layer">
              <img src="/images/3D-Test/OCW-test1-07.png" style="max-width: 250px;" alt="" class="upDown2">
            </div>
          </div>

          <div id="ex1" class="container2">
            <div class="box ex1-layer">
              <img src="/images/3D-Test/OCW-test1-07.png" style="max-width: 100px;" alt="" class="upDown">
            </div>
          </div>


        </div>
      </section>

    </main>
</body>
<%- include('./partials/barbaLib.ejs') %>
  <%- include('./partials/headerScript.ejs') %>

</html>